.icon {
  background-image: url(../images/sprites/sprites.png);
  background-color: transparent;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.icon-car { width: 34px; height: 28px; background-position: -17px -39px; }
.icon-france { width: 16px; height: 11px; background-position: 0 -29px; }
.icon-googleplus { width: 34px; height: 28px; background-position: -87px -29px; }
.icon-home { width: 34px; height: 28px; background-position: -52px -39px; }
.icon-link-dark { width: 10px; height: 9px; background-position: -87px -58px; }
.icon-link-white { width: 10px; height: 9px; background-position: 0 -41px; }
.icon-linkedin { width: 34px; height: 28px; background-position: 0 0; }
.icon-twitter { width: 34px; height: 28px; background-position: -85px 0; }
.icon-usa { width: 16px; height: 11px; background-position: 0 -51px; }
.logo-white-small { width: 49px; height: 38px; background-position: -35px 0; }
