%head

	%title
		Maxime Ghignet


	%meta{:name => "description", :content => "Maxime Ghignet, Software Engineer Student at IG2I, part of Ecole Centrale de Lille - Mobile / Web Engineer Intern at thredUp, San Francisco."}
	%meta{:http-equiv => "content-type", :content => "text/html", :charset => "UTF-8"}
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
	

	%link{:rel => "icon", :type => "image/png", :href => "images/favicon.png"}


	%link{:rel => "stylesheet/less", :href => "#{$config['base_url']}css/manifest.less"}
	/[if lte IE 8]
		%link{:rel => "stylesheet/less", :href => "#{$config['base_url']}css/ie8.less"}


	%script{:src => "#{$config['base_url']}lib/less/less-1.3.3.min.js"}
	%script{:src => "#{$config['base_url']}lib/ie-detector/ie-detector.js"}
	%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}
	%script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"}