#header
	.navbar.navbar-fixed-top.navbar-inverse.visible-desktop.screen#navigation-bar
		%a.brand{:href => ''}
			%span.icon.logo-white-small
			%p.name Maxime Ghignet
			%p.description =$welcome_description
		%ul.nav.pull-right
			%li

			%li
				%a{:href => '#header'} =$welcome_title
			%li
				%a{:href => '#about'} =$about_title
			%li
				%a{:href => '#skills'} =$skills_title
			%li
				%a{:href => '#education'} =$education_title
			%li
				%a{:href => '#experience'} =$experience_title
			%li
				%a{:href => '#projects'} =$projects_title
		.language.pull-right
			%a.icon.icon-france{:href => "#{$config['base_url']}fr/"}
			%a.icon.icon-usa{:href => "#{$config['base_url']}en/"}
		.printable.pull-right
			%a{:href => "javascript:if(window.print)window.print()", :title => "#{$general_printable_version}"}
				.icon.icon-print
				=$general_printable_version
.clearfix
