<head>

    <title>
		Maxime Ghignet
    </title>

    <meta name="description", content="Maxime Ghignet, Software Engineer Student at IG2I, part of Ecole Centrale de Lille - Mobile / Web Engineer Intern at thredUp, San Francisco." />
    <meta http-equiv="content-type", content="text/html", charset="UTF-8" />
    <meta name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1" />
	
    <link rel="icon", type="image/png", href="/static/images/favicon.png" />

    <link rel="stylesheet", href="/static/css/manifest.css" />
    <!-- [if lte IE 8] -->
    <link rel="stylesheet", href="/static/css/ie8.css" />

	<script src="/static/lib/ie-detector/ie-detector.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

</head>
