#welcome
    .section-container
        .row-fluid.mobile-title.hidden-desktop
            %a.mobile-logo{:href => '#'}
                %span.screen.icon.logo-white-small
                %img.print{:src => "/images/logos/colored/logo-small.png"}
                %p.name-description
                    %span.name
                        Maxime Ghignet
                    %br
                    %span.description
                        =$welcome_description
            .language
                %a{:href => "#{$config['base_url']}fr/"}
                    .icon.icon-france
                %a{:href => "#{$config['base_url']}en/"}
                    .icon.icon-usa
        .row-fluid.content
            .span7.offset1
                %h2 Hello World.
                %p.punchline =$punchline
                .carousel.slide#tips-carousel
                    .carousel-inner
                        %p.item.active
                            =$welcome_slide1
                        %p.item
                            =$welcome_slide2
                        %p.item
                            =$welcome_slide3
                        %p.item
                            =$welcome_slide4
                        %p.item
                            (\ /)
                            %br
                            (O.o)
                            %br
                            (> <)
                            %br
                            =$welcome_slide5
                        %p.item
                            =$welcome_slide6
                #next-section
                    %a.btn.btn-large.transparent{:href => '#about'} =$welcome_scrolldown_button
            .span3.personal-info
                .icon.icon-twitter
                %a{:href => 'https://twitter.com/mghignet', :target => '_blank'} @mghignet
                %br
                .icon.icon-github
                %a{:href => 'https://github.com/mghignet', :target => '_blank'} mghignet
                %br
                .icon.icon-linkedin
                %a{:href => 'http://fr.linkedin.com/pub/maxime-ghignet/27/175/224', :target => '_blank'} LinkedIn
                %br
                .icon.icon-home
                Lille, France
                %br
                .icon.icon-car
                =$welcome_drivers_license
#about
    .section-container.bright
        %h2.screen =$about_title
        .row-fluid
            .span2.offset1.profile-picture
                %img{:src => "/images/profile-picture.jpg"}
            .span3.content-span.intro
                %p =$about_intro
                    %a{:href => 'https://www.facebook.com/groups/DevCLille'} Facebook Developer Circle Lille.
            .span5.content-span.iwillbe
                %ul.dark
                    %li =$about_iwillbe_1
                    %li =$about_iwillbe_2
                    %li =$about_iwillbe_3
                    %li =$about_iwillbe_4
#skills
    .section-container
        %h2 =$skills_title
        .row-fluid
            .span4.content-span
                %h3 =$skills_title_front
                %ul
                    %li.strong VueJS
                    %li AngularJS
                    %li.strong HTML5
                    %li Jade/Pug, Haml
                    %li.strong CSS3
                    %li SASS, LESS, Grid frameworks
            .span4.content-span
                %h3 =$skills_title_back
                %ul
                    %li.strong Javascript (Vanilla, ExpressJS, HapiJS, SailsJS)
                    %li.strong Java 8 (Spring, Nuxeo...)
                    %li Python (Flask)
                    %li Ruby (Ruby on Rails, Sinatra)
                    %li.strong Databases: MySQL, PostgreSQL, Couchbase
                    %li.strong Elastic
            .span4.content-span
                %h3 =$skills_title_devops
                %ul
                    %li.strong Docker, Rancher
                    %li.strong CI: Jenkins, Travis
                    %li Shell scripting
        .row-fluid
            .span4.content-span
                %h3 =$skills_title_languages
                %ul
                    %li.strong =$skills_english
                    %li =$skills_french
                    %li =$skills_spanish
            .span4.content-span
                %h3 =$skills_title_methodologies
                %ul
                    %li.strong =$skills_agile_methods
                    %li Kanban
                    %li Feature teams
            .span4.content-span
                %h3 =$skills_title_other
                %ul
                    %li.strong
                        Git:
                        %a{:href => 'https://github.com/mghignet/git-dammit-talk'} Speaker!
                    %li.strong Vi / Vim
                    %li Android, iOS (Objective C)
                    %li NativeScript
#education
    .section-container.bright
        %h2 =$education_title
        .row-fluid
            .span4.offset2.content-span
                %h3 2013
                .row-fluid
                    .span8
                        .strong
                            =$education_engineer_diploma
                        =$education_engineer_diploma_from
                        .location
                            @Lens, France
                    .span3.offset1.logo
                        %img{:src => '/images/logos/colored/logo-ig2i.png', :alt => 'IG2I Logo'}
                        %br
                        %img{:src => '/images/logos/colored/logo-centrale-lille.png', :alt => 'Centrale Lille Logo'}
            .span4.content-span
                %h3 2008
                .strong
                    =$education_bac
                =$education_bac_description
                .location
                    @Liévin, France
#experience
    .section-container
        %h2 =$experience_title

        .row-fluid
            .span6.content-span
                %h3
                    =$experience_adeo3_title
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-adeo-white.png', :alt => 'Groupe Adeo Logo'}
                        %img.print{:src => '/images/logos/colored/logo-adeo.png', :alt => 'Groupe Adeo Logo'}
                        %br
                        %img.screen{:src => '/images/logos/logo-leroy-merlin-white.png', :alt => 'Leroy Merlin Logo'}
                        %img.print{:src => '/images/logos/colored/logo-leroy-merlin.png', :alt => 'Leroy Merlin Logo'}
                        %br
                        %img.screen{:src => '/images/logos/logo-ineat-white.png', :alt => 'Ineat-Conseil Logo'}
                        %img.print{:src => '/images/logos/colored/logo-ineat.png', :alt => 'Ineat-Conseil Logo'}
                    .span9
                        .period
                            =$experience_adeo3_period
                        .at
                            @Groupe Adeo (Leroy Merlin) via Ineat-Conseil
                        =$experience_adeo3_description1
                        %ul
                            %li =$experience_adeo3_description1_1
                            %li =$experience_adeo3_description1_2
                            %li =$experience_adeo3_description1_3
                            %li =$experience_adeo3_description1_4
                        %br
                        =$experience_adeo3_description2
            .span6.content-span
                %h3
                    =$experience_ciev_title
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-bulle-bleue-white.png', :alt => 'Bulle Bleue Logo'}
                        %img.print{:src => '/images/logos/colored/logo-bulle-bleue.png', :alt => 'Bulle Bleue Logo'}
                        %br
                        %img.screen{:src => '/images/logos/logo-ineat-white.png', :alt => 'Ineat-Conseil Logo'}
                        %img.print{:src => '/images/logos/colored/logo-ineat.png', :alt => 'Ineat-Conseil Logo'}
                    .span9
                        .period
                            =$experience_ciev_period
                        .at
                            @"La Compagnie des Vétérinaires" via Ineat-Conseil
                        =$experience_ciev_description1
                        %ul
                            %li =$experience_ciev_description1_1
                            %li =$experience_ciev_description1_2
                            %li =$experience_ciev_description1_3
                        %br
                        =$experience_ciev_description2
        .row-fluid
            .span6.content-span
                %h3
                    =$experience_dartagnan_title
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-ineat-white.png', :alt => 'Ineat-Conseil Logo'}
                        %img.print{:src => '/images/logos/colored/logo-ineat.png', :alt => 'Ineat-Conseil Logo'}
                    .span9
                        .period
                            =$experience_dartagnan_period
                        .at
                            @Ineat-Conseil, Lille
                        =$experience_dartagnan_description1
                        %ul
                            %li =$experience_dartagnan_description1_1
                            %li =$experience_dartagnan_description1_2
                        %br
                        =$experience_dartagnan_description2
            .span6.content-span
                %h3
                    =$experience_adeo2_title
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-adeo-white.png', :alt => 'Groupe Adeo Logo'}
                        %img.print{:src => '/images/logos/colored/logo-adeo.png', :alt => 'Groupe Adeo Logo'}
                        %br
                        %img.screen{:src => '/images/logos/logo-leroy-merlin-white.png', :alt => 'Leroy Merlin Logo'}
                        %img.print{:src => '/images/logos/colored/logo-leroy-merlin.png', :alt => 'Leroy Merlin Logo'}
                        %br
                        %img.screen{:src => '/images/logos/logo-ineat-white.png', :alt => 'Ineat-Conseil Logo'}
                        %img.print{:src => '/images/logos/colored/logo-ineat.png', :alt => 'Ineat-Conseil Logo'}
                    .span9
                        .period
                            =$experience_adeo2_period
                        .at
                            @Groupe Adeo (Leroy Merlin) via Ineat-Conseil
                        =$experience_adeo2_description1
                        %ul
                            %li =$experience_adeo2_description1_1
                            %li =$experience_adeo2_description1_2
        .row-fluid
            .span6.content-span
                %h3
                    =$experience_thredup_title
                    %span.icon.icon-usa
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-thredup-white.png', :alt => 'thredUP Logo'}
                        %img.print{:src => '/images/logos/colored/logo-thredup.png', :alt => 'thredUP Logo'}
                    .span9
                        .period
                            =$experience_thredup_period
                        .at
                            @thredUP Inc, San Francisco, California, USA
                        =$experience_thredup_description1
                        %br
                        =$experience_thredup_description2
            .span6.content-span
                %h3 =$experience_autoentrepreneur_title
                .row-fluid
                    .span3.logo#mg-logo
                        %img.screen{:src => '/images/logos/logo-white.png', :alt => 'Maxime Ghignet Logo'}
                        %img.print{:src => '/images/logos/colored/logo.png', :alt => 'Maxime Ghignet Logo'}
                    .span9
                        .period
                            =$experience_autoentrepreneur_period
                        =$experience_autoentrepreneur_description1
        .row-fluid
            .span6.content-span
                %h3 =$experience_adeo_title
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-adeo-white.png', :alt => 'Groupe Adeo Logo'}
                        %img.print{:src => '/images/logos/colored/logo-adeo.png', :alt => 'Groupe Adeo Logo'}
                        %br
                        %img.screen{:src => '/images/logos/logo-leroy-merlin-white.png', :alt => 'Leroy Merlin Logo'}
                        %img.print{:src => '/images/logos/colored/logo-leroy-merlin.png', :alt => 'Leroy Merlin Logo'}

                    .span9
                        .period
                            =$experience_adeo_period
                        .at
                            @Groupe Adeo (Leroy Merlin)
                        =$experience_adeo_description1
                        %ul
                            %li =$experience_adeo_description1_1
                            %li =$experience_adeo_description1_2
                            %li =$experience_adeo_description1_3
            .span6.content-span
                %h3
                    =$experience_thinkglobal_title
                    %span.icon.icon-usa
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-thinkglobal-white.png', :alt => 'ThinkGlobal Logo'}
                        %img.print{:src => '/images/logos/colored/logo-thinkglobal.png', :alt => 'ThinkGlobal Logo'}
                    .span9
                        .period
                            =$experience_thinkglobal_period
                        .at
                            @ThinkGlobal Inc, Massachusetts, USA
                        =$experience_thinkglobal_description1
        .row-fluid
            .span6.content-span
                %h3 =$experience_axians_title
                .row-fluid
                    .span3.logo
                        %img.screen{:src => '/images/logos/logo-axians-white.png', :alt => 'Axians Logo'}
                        %img.print{:src => '/images/logos/colored/logo-axians.png', :alt => 'Axians Logo'}
                        %br
                        %img.screen{:src => '/images/logos/logo-vinci-white.png', :alt => 'Vinci Logo'}
                        %img.print{:src => '/images/logos/colored/logo-vinci.png', :alt => 'Vinci Logo'}
                    .span9
                        .period
                            =$experience_axians_period
                        .at
                            =$experience_axians_at
                        =$experience_axians_description1
                        %br
                        =$experience_axians_description2
